.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}
button{
  cursor: pointer;
}
.add-todo{
  margin-bottom: 15px;
}
.todo-content{
  margin: 0 auto;
  width: 400px;

  .todo-item{
    height: 35px;
    border-bottom: 1px solid gray ;
  }

}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
   font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
